:root {
  --main-color: #66bb6a;
  --color-second: #ccc;
  --c-gray: #ccc;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
label,
p,
span {
  font-size: 20px;
}
.main-field {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.frame {
  width: 100vw;
  padding: 0 10%;
}
.game-stage {
  width: 100%;
  height: 10%;
  display: flex;

  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  position: relative;
}
.game-stage::after {
  content: "";
  height: 5px;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px;
  background-color: var(--c-gray);
  opacity: 0.8;
}

.game-zone {
  display: flex;
  width: 100%;

  grid-template-columns: repeat(2, 1fr);
  gap: 10%;

  justify-content: center;
  align-items: center;
  height: 45vh;
  margin-bottom: 8vh;
}
.game-stage__status {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.game-result-block {
  height: 2rem;
  min-width: 50px;
  z-index: 2;
  font-weight: 700;
  font-size: large;
  transform: translate(-25%);
}
.result-field {
  padding: 10px;

  height: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  max-width: 35vw;

  overflow: visible;
}
.hand {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.player-hand {
  justify-content: right;
}
.result-field img {
  max-width: auto;
  max-height: 40vh;
}
.select-zone {
  margin: 0;
  min-height: 40vh;
  background-color: #dd9654a1;
  padding-top: 5%;
}

.bet-zone {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.bottom-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 8fr 2fr;
  gap: 5%;
}
.select-block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
.active-stats {
  padding: 0;
  margin: 0;
}
.active-stats * {
  margin: 0;
  margin-bottom: 0.5rem;
  color: white;
}

.result {
  position: absolute;
  left: 10%;
  bottom: 8px;
}

.result--txt {
  margin: 0;
  font-size: 28px;
}
/* 

 */
/*  */
/* 
 */

.appear.player-image {
  opacity: 0;
  animation: appearance 300ms forwards;
  right: 0;
}

.computer-image {
  transform: scaleX(-1);
  opacity: 1;
  /* animation: appearanceBot 210ms forwards; */
}
.appear.computer-image {
  animation: appearanceBot 210ms forwards;
}

@keyframes appearance {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateX(100%) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0) translateY(0);
  }
}

@keyframes appearanceBot {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateX(-100%) translateY(100%) scaleX(-1);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateX(0) translateY(0) scaleX(-1);
  }
}

.winner.player-image {
  animation: winnerAppearance 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
  z-index: 8;
}
.winner.computer-image {
  animation: winnerAppearanceBot 300ms forwards;
  z-index: 9;
}

@keyframes winnerAppearance {
  0% {
    transform: scale(1) translateX(0) translateY(0);
  }
 
  100% {
    transform: scale(1.2) translateX(45%) translateY(-3%) rotate(20deg);
  }
}
@keyframes winnerAppearanceBot {
  0% {
    transform: scaleX(-1) translateX(0) translateY(0);
  }
  100% {
    transform: scaleX(-1.2) scaleY(1.2) translateX(45%) translateY(-3%)
      rotate(20deg);
  }
}
@keyframes winnerDisappearance {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hide {
  animation: hideAni 210ms forwards;
}

@keyframes hideAni {
  0% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(10%) translateY(100%);
  }
}

/* акцент не на css) */
.slider-container {
  padding: 0;
  margin: 0;
  margin-bottom: 5%;
}
.slider-container * {
  color: #fff;
}

#betAmount {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: var(--main-color);
  outline: none;
}

#betAmount::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 8px solid var(--main-color);
  cursor: pointer;
  position: relative;
}

/* КНопки */
.btn {
  padding: 50px 20px;
  font-size: 16px;
  position: relative;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--c-gray);
  border-radius: 0.6em;
  color: var(--c-gray);
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.btn--choice {
  height: 100%;
  width: 100%;
}
.btn img {
  max-width: 100%;
  height: auto;
}
.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}

.btn {
  border-color: #fff;
  color: #fff;
  background: linear-gradient(45deg, var(--main-color) 50%, transparent 50%);
  background-size: 400%;
  background-position: 100%;
  transition: background 300ms ease-in-out;
}

.btn:hover {
  background-position: 0;
}
