.level-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    margin: 10px 5px;
    position: relative;
    z-index: 3;
    
  }
  .level-bar::after{
    content: '';
    width: 110%;
    height: 40%;
    border-radius: 10px;
    position: absolute;
    background-color: var( --color-second);
    transform: translateX(-5%);
    z-index: 1;
  }
  .game-info{
    position: fixed;
    top: 2%;
    left: 10%;
  }
  
  .level {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var( --color-second);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    z-index: 4;
  }
  .level::after{
    content: '';
    width: 35%;
    height: 35%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .level.current {
    background-color: var( --main-color); 
  }
  
  .level.hovered {
    background-color: #ffa726; 
  }
  
  .tooltip {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var( --main-color);
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    min-width: 150px;
    
    display: block;
    z-index: 6;
    

  }
  .tooltip *{
    color: white;
    font-size: large;
    margin: 0;
    margin-bottom: 0.8rem;
    z-index: 6;
  }
  
  .level:hover .tooltip {
    display: block;
  }
  